<div class="container">
  <hr>
  <br>
  <% if signed_in? and current_user.verified and !User.find(current_user.id).has_a_review(location.id) %>
    <h3>Submit A Review</h3>
    <h5>User: <%= current_user.email %></h5>
    <%= form_for(review, url: review_index_path ) do |f| %>
      <div class="form-group">
        <%= f.label :score %>
        <%= f.number_field :score %>
      </div>
      <div>
        <%= f.label :message %>
        <%= f.text_area :message, rows: 5 %>
      </div>
      <%= f.hidden_field :location, value: location.id %>
      <%= f.hidden_field :user, value: current_user.id %>
      <br>
      <%= f.submit "Post Review!" %>
    <% end %>
  <% elsif signed_in? and  !User.find(current_user.id).has_a_review(location.id) %>
    <p>You must verify your email to write a review.</p>
  <% end %>
  <h3>Reviews</h3>
  <% reviews.each do |r| %>
    <div class="review-card">
      <div class="review-card-header">
        <%= small_profile_img(User.find(r.user_id)) %><%= User.find(r.user_id).email %> - Score <%= r.score %>/10
      </div>
      <div class="review-card-body">
        <%= r.message %>
        <br />
        <% if is_mine_or_admin(r.user_id) %>
          <%= link_to("Edit", edit_review_path(r), class: '')  %>
          <%= link_to("Delete", review_path(r), method: :delete, class: '') %>
        <% end %>
        <%= link_to("Report Content", new_report_path({location: nil,photo: nil, review: r.id}), class: '') if signed_in? %>
      </div>
    </div>
  <% end %>
</div>
