<div class="container">
  <hr>
  <br>
  <% if signed_in? and current_user.verified and !User.find(current_user.id).has_a_review(location.id) %>
    <h3>Submit A Review</h3>
    <h5>User: <%= current_user.email %></h5>
    <%= form_for(review, url: review_index_path ) do |f| %>
      <div class="form-group">
        <%= f.label :score %>
        <%= f.number_field :score, min: 1, max: 10 %>
      </div>
      <div>
        <%= f.label :message %>
        <%= f.text_area :message, rows: 5 %>
      </div>
      <%= f.hidden_field :location, value: location.id %>
      <%= f.hidden_field :user, value: current_user.id %>
      <br>
      <%= f.submit "Post Review!" %>
    <% end %>
  <% elsif signed_in? and  !User.find(current_user.id).has_a_review(location.id) %>
    <p>You must verify your email to write a review.</p>
  <% end %>
  <h3>Reviews</h3>
  <% reviews.each do |r| %>
    <div class="review-card">
      <div class="review-card-header">
        <%= small_profile_img(User.find(r.user_id)) %><%= User.find(r.user_id).email %>
        <div class="radial-score radial-score-review" style="<%= 'display: none;' if r.score == 0 %>">
          <div class="radial-background">
          </div>
          <div class="radial-ring" style="<%= 'background-color: white;' if r.score > 5 %>">
          </div>
          <div class="radial-cutout" style="background-image: linear-gradient(<%= 90 + r.score * 0.1 * 360 %>deg, <%= 'transparent  50%, white 50%' if r.score < 6 %><%= '#CAFDF5  50%, transparent 50%' if r.score > 5 %>), linear-gradient(90deg,<%=  'white 50%, transparent 50%' if r.score < 6 %><%=  'transparent 50%, #CAFDF5 50%' if r.score > 5 %>);">
          </div>
          <p><%= r.score %></p>
        </div>
      </div>
      <div class="review-card-body">
        <p>
          <%= r.message %>
        </p>
        <% if is_mine_or_admin(r.user_id) %>
          <%= link_to("Edit", edit_review_path(r), class: '')  %>
          <%= link_to("Delete", review_path(r), method: :delete, class: '') %>
        <% end %>
        <%= link_to("Report Content", new_report_path({location: nil,photo: nil, review: r.id}), class: '') if signed_in? %>
      </div>
    </div>
  <% end %>
  <% if reviews.length == 0 %>
    <p>There are currently no reviews for this location.</p>
  <% end %>
</div>
