<div class="container">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.label :display, "Display Name" %><br />
      <%= f.text_field :display, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <div class="field">
      <%= f.label :bio %><br />
      <%= f.text_field :bio %>
    </div>
    <br />
    <label>Profile Picture</label>
    <div id="image-cropper">
      <div class="cropit-preview"></div>
      <input type="range" class="cropit-image-zoom-input" />
      <!-- The actual file input will be hidden -->
      <%= f.file_field :profile_img, class: "cropit-image-input", style: "display: none !important;" %>
      <!-- And clicking on this button will open up select file dialog -->
      <div class="select-image-btn button">Select new image</div>
    </div>
    <%= f.hidden_field :offsetX %>
    <%= f.hidden_field :offsetY %>
    <%= f.hidden_field :height %>
    <%= f.hidden_field :width %>
    <%= f.hidden_field :zoom %>
    <script>
      var imgPicker = $('#image-cropper').cropit({width: 400,height: 400,imageBackgroundBorderWidth: 1,freeMove: true,smallImage: 'stretch'});
      $("#image-cropper").find(".cropit-preview");
      $("#new_user").submit(function(e){
        console.log("Zoom: ",$("#image-cropper").cropit("zoom"));
        console.log("Offset: ",$("#image-cropper").cropit("offset"));
        console.log("Preview Size:",$("#image-cropper").cropit("previewSize"));
        $("#user_zoom").val($("#image-cropper").cropit("zoom"));
        $("#user_offsetX").val($("#image-cropper").cropit("offset").x);
        $("#user_offsetY").val($("#image-cropper").cropit("offset").y);
        $("#user_width").val($("#image-cropper").cropit("previewSize").width);
        $("#user_height").val($("#image-cropper").cropit("previewSize").height);
      });
      $('.select-image-btn').click(function() {
        $('.cropit-image-input').click();
      });
      function getOrientation(file, callback) {
        var reader = new FileReader();
        reader.onload = function(e) {

            var view = new DataView(e.target.result);
            if (view.getUint16(0, false) != 0xFFD8)
            {
                return callback(-2);
            }
            var length = view.byteLength, offset = 2;
            while (offset < length)
            {
                if (view.getUint16(offset+2, false) <= 8) return callback(-1);
                var marker = view.getUint16(offset, false);
                offset += 2;
                if (marker == 0xFFE1)
                {
                    if (view.getUint32(offset += 2, false) != 0x45786966)
                    {
                        return callback(-1);
                    }

                    var little = view.getUint16(offset += 6, false) == 0x4949;
                    offset += view.getUint32(offset + 4, little);
                    var tags = view.getUint16(offset, little);
                    offset += 2;
                    for (var i = 0; i < tags; i++)
                    {
                        if (view.getUint16(offset + (i * 12), little) == 0x0112)
                        {
                            return callback(view.getUint16(offset + (i * 12) + 8, little));
                        }
                    }
                }
                else if ((marker & 0xFF00) != 0xFF00)
                {
                    break;
                }
                else
                {
                    offset += view.getUint16(offset, false);
                }
            }
            return callback(-1);
        };
        reader.readAsArrayBuffer(file);
    }

    // usage:
    var input = document.getElementById('user_profile_img');
    input.onchange = function(e) {
        getOrientation(input.files[0], function(orientation) {
            console.log('orientation: ' + orientation);
            if(orientation == 6){
              $('#image-cropper').cropit('rotateCW');
            }
        });
    }
    </script>
    <br />
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
