<% if title != "" %>
  <h1><%= title %></h1>
<% end %>
<% if limit != nil %>
  <% collection = collection.mostViews.first(limit) %>
<% else %>
  <% collection = collection.mostViews %>
<% end %>
<div class="row">
  <% if user == nil and location != nil %>
    <% locations = Location.find(location) %>
    <% locos = Array.new(collection.length) { |x|  locations } %>
    <% us =  User.includes(:photos).where("photos.location_id=#{location}").order("photos.views DESC")%>
  <% elsif user != nil %>
    <% users = User.find(user) %>
    <% us = Array.new(collection.length) { |x|  users } %>
    <% locos = Location.find_by_sql("SELECT locations.id, locations.title FROM locations LEFT JOIN photos ON locations.id = photos.location_id WHERE photos.user_id=#{user} ORDER BY photos.views DESC")  %>
  <% end %>
  <% collection.zip(locos,us).each do |p,l,u| %>
    <% if collumns == 3 %>
      <div class="four columns img-card img-card-3">
        <div class="img-holder img-holder-3">
          <img src="<%= p.img_url.url %>" />
        </div>
        <p>
          <%= image_collection_user(u)%>
          "<%= p.caption %>"
          <%= location_tag(l)%>
          <%= link_to("Report Content", new_report_path({location: nil,photo: p.id, review: nil}), class: 'img-card-link') if signed_in? %>
        </p>
        <% if is_mine_or_admin(u) %>
          <%= link_to("Delete", photo_path(p), method: :delete, class: 'button delete-button') %>
        <% end %>
        <%= link_to "View - " + views_helper(p.views) + " Views" , photo_path(p), class:'button' %>
        <br>
      </div>
    <% elsif collumns == 2 %>
      <div class="six columns img-card img-card-2">
        <div class="img-holder img-holder-2">
          <img src="<%= p.img_url.url %>" />
        </div>
        <p>
          <%= image_collection_user(u) %>
          "<%= p.caption %>"
          <%= location_tag(l) %>
          <%= link_to("Report Content", new_report_path({location: nil,photo: p.id, review: nil}), class: 'img-card-link') if signed_in? %>
        </p>
        <% if is_mine_or_admin(u) %>
          <%= link_to("Delete", photo_path(p), method: :delete, class: 'button delete-button') %>
        <% end %>
        <%= link_to "View - " + views_helper(p.views) + " Views" , photo_path(p), class:'button' %>
        <br>
      </div>
    <% elsif collumns == 1 %>
      <div class="twelve columns img-card img-card-1">
        <div class="img-holder img-holder-1">
          <img src="<%= p.img_url.url %>" />
        </div>
        <p>
          <%= image_collection_user(u) %>
          "<%= p.caption %>"
          <%= location_tag(l) %>
          <%= link_to("Report Content", new_report_path({location: nil,photo: p.id, review: nil}), class: 'img-card-link') if signed_in? %>
        </p>
        <% if is_mine_or_admin(u) %>
          <%= link_to("Delete", photo_path(p), method: :delete, class: 'button delete-button') %>
        <% end %>
        <%= link_to "View - " + views_helper(p.views) + " Views" , photo_path(p), class:'button' %>
        <br>
      </div>
    <% end %>
  <% end %>
  <% if collection.length == 0 %>
    <p>Sorry there are currently no photos.</p>
  <% end %>
</div>
