<div class="container">
  <h1>Add a New Photo</h1>
  <%= form_for(@photo, url: photo_index_path) do |f| %>
    <div class="form-group">
      <%= f.label :caption %>
      <%= f.text_field :caption %>
    </div>
    <div class="form-group">
      <%= f.label :img_url, value: "Select Image and Thumbnail Area." %>
      <div id="image-cropper">
        <div class="cropit-preview"></div>
        <input type="range" class="cropit-image-zoom-input" />
        <!-- The actual file input will be hidden -->
        <%= f.file_field :img_url, class: "cropit-image-input", style: "display: none !important;", value: current_user.profile_img.url %>
        <!-- And clicking on this button will open up select file dialog -->
        <div class="select-image-btn button">Select new image</div>
      </div>
    </div>
    <%= f.hidden_field :location, value: @location.id %>
    <%= f.hidden_field :user, value: current_user.id %>
    <%= f.hidden_field :offsetX %>
    <%= f.hidden_field :offsetY %>
    <%= f.hidden_field :height %>
    <%= f.hidden_field :width %>
    <%= f.hidden_field :zoom %>
    <script>
      var imgPicker = $('#image-cropper').cropit({width: 400,height: 400,imageBackgroundBorderWidth: 1,freeMove: false,smallImage: 'stretch'});
      $("#image-cropper").find(".cropit-preview");
      $(".new_photo").submit(function(e){
        console.log("Zoom: ",$("#image-cropper").cropit("zoom"));
        $("#photo_zoom").val($("#image-cropper").cropit("zoom"));
        $("#photo_offsetX").val($("#image-cropper").cropit("offset").x);
        $("#photo_offsetY").val($("#image-cropper").cropit("offset").y);
        $("#photo_width").val($("#image-cropper").cropit("previewSize").width);
        $("#photo_height").val($("#image-cropper").cropit("previewSize").height);
      });
      $('.select-image-btn').click(function() {
        $('.cropit-image-input').click();
      });
    </script>
    <%= f.submit "Add Photo", id: 'photoSubmit' %>
  <% end %>
</div>
<div class="float-loader">
  <center><h3>Uploading</h3></center>
  <div class="loader"></div>
</div>
<script>
  $("#photoSubmit").click(function(){
    $(".float-loader").show();
  });
</script>
