<div class="container">
  <img src="<%= @photo.img_url.url %>" class="show-image"/>
  <p class="show-image-desc"><%= User.where("id = '#{@photo.user_id}'").length == 1 ? image_collection_user(User.find(@photo.user_id)) : "" %> "<%= @photo.caption %>" <%= location_tag(Location.find(@photo.location_id))%> <em>- <%= views_helper @photo.views %> Views</em></p>
</div>
