<div class="container">
  <h2>Forgot your password?</h2>

  <%= form_tag('/reset_password', method: 'post') do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= label_tag :email %><br />
      <%= email_field_tag :email %>
    </div>

    <div class="actions">
      <%= submit_tag "Send me reset password instructions" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
