<div class="landing-parent">
  <div class="landing-content">

  <%= image_tag "blob", style: "float: right;" %>
  <%= image_tag "Text.svg", style: "float: left; position: absolute;
top: 100px;
left: 175px;" %>



  </div>

  <%= image_tag "blobleft", style: "float: left; position: absolute; bottom: 0px;" %>
  <div class="card-area">
    <div class="container">
      <div class="landing-card" style="left: 5%;">
          <%= image_tag "card" %>
          <h1>Photographers</h1>
          <p>Students are encouraged to form team
s and
create
a business proposal around an
innovative
idea.</p>
      </div>
      <div class="landing-card" style="right: 5%">
          <%= image_tag "card" %>
          <h1>Photographers</h1>
          <p>Students are encouraged to form team
s and
create
a business proposal around an
innovative
idea.</p>
      </div>
    </div>
  </div>
</div>
