<div class="landing-parent">
  <div class="landing-content">
  <%= image_tag "https://s3-us-west-2.amazonaws.com/staticgeofocus/blob.svg", class: 'right-blob' %>
  <%= image_tag "https://s3-us-west-2.amazonaws.com/staticgeofocus/Group.png", class: 'svg-text' %>
  </div>
  <%= image_tag "https://s3-us-west-2.amazonaws.com/staticgeofocus/blobleft.svg", class: 'left-blob' %>
  <div class="card-area">
    <div class="container">
      <div class="landing-card left-landing">
          <%= image_tag "https://s3-us-west-2.amazonaws.com/staticgeofocus/card.svg" %>
          <h1>Locate Scenic Areas</h1>
          <p>
    GeoFocus is a tool that allows pro and amateur photographers alike  to locate where on the globe  the best picturesque
    spots are. View popular places, as well as places that need a new artistic take to make the photos look visually appealing.
          </p>
      </div>
      <div class="landing-card right-landing">
          <%= image_tag "https://s3-us-west-2.amazonaws.com/staticgeofocus/card.svg" %>
          <h1>Interact with Users</h1>
          <p>
Discover who took the photographs you like, and where they like to shoot. Discover the highest rated photographs and interact as a community so you can expirement and find different perspectives on where to shoot.
      </div>
    </div>
  </div>
</div>
