<h1>Locofinder</h1>
<p>Version 1.0</p>
<%= authentication_helper %>
<% if signed_in? %>
  <%= link_to "Create New Location", new_location_path %>
<% end %>
<ul>
<% @locations.each do |l| %>
  <li><%=l.title %><%= link_to "Delete", location_path(l), method: :delete %><%= link_to "Edit", edit_location_path(l) %></li>
<% end %>
</ul>
