<!-- This is to show the appropiate content for the particular user !-->
<% class2 = '' %>
<div class="map-container">
  <% if signed_in? and current_user.verified %>
    <%= link_to "Create Location", new_location_path, class: "button create-button" %>
  <% elsif signed_in? %>
    <div class="map-alert">
      <% class2 = 'not-verified' if !current_user.verified %>
      <p>You must verify your email in order to create a location.</p>
      <a href="<%= root_url %>user/disabled_account/<%= current_user.id %>">Enable Your Account.</a>
    </div>
  <% end %>
  <%= javascript_pack_tag 'application' %>
  <%= react_component("LocationSearch",{ rootUrl: !Rails.env.production? ? root_url :  'https://geofoc.us/' }) %>
  <!-- This is for the Mapbox JS API !-->
  <script type="text/javascript" charset="utf-8">var ROOT_URL = '<%= !Rails.env.production? ? root_url :  'https://geofoc.us/'%>';</script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.css' rel='stylesheet' />
  <div id='map' ></div>
  <%= javascript_include_tag "map-logic" %>
</div>
