<!-- This is to show the appropiate content for the particular user !-->
<% if signed_in? and current_user.verified %>
  <%= link_to "Create Location", new_location_path, class: "button" %>
<% elsif signed_in? %>
  <p>You must verify your email inorder to create a location.</p>
  <a href="<%= root_url %>user/disabled_account/<%= current_user.id %>">Enable Your Account.</a>
<% end %>
<!-- This is for the Mapbox JS API !-->
<script type="text/javascript" charset="utf-8">var ROOT_URL = '<%= root_url %>';</script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.css' rel='stylesheet' />
<div id='map'></div>
<%= javascript_include_tag "map-logic" %>
