<%= javascript_pack_tag 'application' %>
<div class="location-header" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= @location.photos.mostViews[0].img_url.url if @location.photos.length != 0%><%= 'https://cdn.theatlantic.com/assets/media/img/mt/2016/03/RTX283V4/lead_960.jpg?1457553386' if @location.photos.length == 0 %>);">
  <h1><%= @location.title %></h1>
</div>
<div class="container">
  <div class="row">
    <p><%= @location.address + ", " + @location.city + ", " + @location.state + ", " + @location.country %></p>
    <!--
    <div class="review-score white-review-background" style="<%= 'display: none;' if @location.average_score == 0 %>">
      <div class="review-score-value" style="width:<%= @location.average_score*10  if @location.average_score != 0 %><%= '0'  if @location.average_score == 0 %>%;<%= 'display:none;' if @location.average_score == 0 %>">
      </div>
      <p><%= @location.average_score %>/10</p>
    </div>
    -->
    <% if @location.average_score != 0 %>
      <%= render partial: "sharred/radial_score", locals: {review: false, score: @location.average_score} %>
    <% end %>
    <br />
    <% if signed_in? %>
      <% if is_mine_or_admin(@location.user_id.to_i)%>
        <%= link_to "Edit", edit_location_path(@location), class: "button" %>
        <%= link_to "Delete", location_path(@location), method: :delete, class: "button" %>
      <% elsif !current_user.verified %>
        <p>You must verify your email to add photos.</p>
      <% end %>
      <% if current_user.verified %>
        <%= link_to("Add Photo", new_photo_path + "/?location=#{@location.id}&user=#{current_user.id}", class: "button") %>
        <%= link_to "Report Content", new_report_path({location: @location.id,photo: nil, review: nil}), class: 'button' %>
      <% end %>
    <% end %>
  </div>
  <!-- <%= render partial: "photo/collection", locals: {collection: @location.photos, title: "Photos", collumns: 3, limit: nil, location: @location.id, user: nil} %> -->
  <%= react_component("Collection",{ title: "Photos", location: @location.id.to_s, user: "", rootUrl: root_url, currentUser: current_user, collumns: 3, search: true  }) %>
</div>
<%= render partial: "review/reviews", locals: {review: @review, reviews: @reviews, location: @location, user: current_user} %>
