<% intervals = ((values.max - values.min)/5).ceil + 1 %>
<div class="bar-chart">
  <div class="bar-chart__title"><%= title %></div>
  <div class="bar-chart__x-label"><%= x_label %></div>
  <div class="bar-chart__y-label"><%= y_label %></div>
  <div class="bar-chart__y-axis">
    <% intervals.times do |i| %>
      <div class="bar-chart__tick">
        <span class="bar-chart__tick__label"><%= (intervals*5-5*i).to_s %></span>
        <span class="bar-chart__tick__mark"></span>
      </div>
    <% end %>
    <div class="bar-chart__offset">
    </div>
  </div>
  <div class="bar-chart__x-axis">
    <% labels.each do |l| %>
      <div class="bar-chart__tick">
        <span class="bar-chart__tick__mark"></span>
        <span class="bar-chart__tick__label"><%= l.to_s %></span>
      </div>
    <% end %>
  </div>
  <div class="bar-chart__bars">
    <% values.each do |v| %>
      <div class="bar-chart__bar" style="height: <%= v.to_i*10 %>px;"></div>
    <% end %>
  </div>
</div>
