<!DOCTYPE html>
<html>
  <head>
    <title>Locofinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'info-window', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'skeleton', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'normalize', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <div class="push">
      <%= render partial: "sharred/nav" %>
      <%= alert %>
      <%= yield %>
    </div>
    <%= render partial: "sharred/footer" %>
  </body>

</html>
