<!DOCTYPE html>
<html>
  <head>
    <title>GeoFocus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'info-window', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'skeleton', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'normalize', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'alerts' %>
  </head>

  <body>
    <div class="push">
      <%= render partial: "sharred/nav" %>
      <div class="modal" style="<%= 'background-color: rgba(0,0,0,0.0); display: none;' if alert == nil  %>">
        <div class="modal-content" style="<%= 'display:none' if alert == nil  %>">
          <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Alert</h2>
          </div>
          <div class="modal-body">
            <%= alert[1] if alert != nil and !(alert.is_a? String) %>
            <%= alert if alert.is_a? String %>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
    <%= render partial: "sharred/footer" %>
  </body>

</html>
